body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
}

.navbar{
  position:fixed;
  width:100%;
  top:0;
  background:#020617;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
}

ul{
  display:flex;
  gap:20px;
  list-style:none;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.projects{
  padding:80px;
}

.cards{
  display:flex;
  gap:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}
